@font-face {
    font-family: Fredoka;
    src: url(../fonts/FredokaOne-Regular.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: EuclidCircular;
    src: url(../fonts/EuclidCircularA-Medium.ttf);
}

.fredoka {
    font-family: fredoka;
    color: #352B53;
}

body {
    font-family: EuclidCircular, Lato, sans-serif, monospace;
}

/* Slide Section */
.slide {
    margin: 130px 0px 30px 0px;
}

.slide-area {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.slide-image {
    width: 100%;
}

.fredoka {
    font-family: fredoka;
    color: #352B53;
}

.arrow-btn {
    padding: 10px 35px 10px 35px;
    background-color: #F75D50;
    color: white;
    border: none;
    margin-top: 30px;
}

.quote-link {
    text-decoration: none;
}

.arrow-btn:hover {
    box-shadow: 4px 4px 4px 0px;
    color: firebrick;
    transition: 500ms;
}

.arrow-img {
    background-image: url(../images/small/Landing/rec01.png);
    background-repeat: no-repeat;
}

/* Service Section */
.service {
    margin: 30px 0px;
}

.service-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-cards a {
    text-decoration: unset;
    color: black;
}
.landing-purchase-img {
    width: 80px;
}

.ser-card {
    text-align: center;
    padding: 15px;
}

.service-card {
    border: 1px solid lightgrey;
    padding: 15px;
    /* box-shadow: 6px 6px 6px 0px; */
    transition-duration: 1s;
}

.service-card:hover {
    background-color: lightgrey;
    /* color: #683af2; */
    cursor: pointer;
    box-shadow: 6px 6px 6px 0px;
    transform: scale(1.1);
}

.repair-img {
    height: 85px;
}

.tyre-img {
    height: 85px;
}

.card-num {
    font-weight: 600;
    text-align: left !important;
    font-size: 18px;
}

.ser-title {
    text-align: center;
}

.ser-index {
    text-align: center;
}

/* Howto Section */
.howto {
    margin: 50px 0px;
}

.howto-area {
    display: flex;
    flex-wrap: wrap;
}

.howto-img {
    padding: 40px;
    margin: auto;
}

.howto-title {
    margin-bottom: 30px;
    font-family: sans-serif;
    font-weight: 600;
}

.howto-text {
    padding: 40px;
}

.howto-image {
    width: 80%;
    float: right;
}

.howto-card {
    display: flex;
}

.howto-subtitle {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}

.howto-detail {
    color: #727180;
    opacity: 0.87;
}

.howto-cardtext {
    padding-left: 15px;
}

/* Help Section */
.help {
    margin: 30px 0px;
    background-color: #683AF2;
    background-image: url(../images/large/Landing/help-bg.png);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 60px 0px 30px 0px;
}

.help-index {
    color: #F75D50;
    font-weight: 500;
}

.help-title {
    font-family: Fredoka;
    margin-bottom: 30px;
}

.help-text {
    width: 70%;
    margin: auto;
}

.help-cards {
    display: flex;
    flex-wrap: wrap;
}

.help-card {
    padding: 40px;
}

.help-subtitle {
    font-family: sans-serif;
    font-weight: 600;
}

.help-num {
    font-family: Fredoka;
    font-weight: 600;
}

/* About Us Section */
.about {
    margin: 30px 0px;
    padding: 20px 0px;
}

.about-content {
    padding: 15px 15px 15px 0px;
}

.about-cards {
    padding: 15px 0px 15px 15px;
}

.about-body {
    display: flex;
    flex-wrap: wrap;
}

.about-index {
    color: #F75D50;
    font-weight: 500;
}

.about-title {
    margin-bottom: 25px;
}

.about-text {
    color: grey;
}

.about-cards {
    display: flex;
    flex-direction: column;
}

.about-card {
    padding: 25px 10px 10px 10px;
    display: flex;
    border: 1px solid lightgrey;
    margin: 10px 0px;
    width: 80%;
    box-shadow: 2px 2px 3px 0;
}

.about-cardimg {
    width: 55px;
    margin-right: 15px;
}

.about-cardtext {
    color: grey;
}

/* People Section */
.people {
    margin: 30px 0px;
    padding: 30px 0px;
    /* background-color: #683AF2; */
    background-image: url(../images/large/Landing/people-bg.png);
}

.people-content {
    display: flex;
    flex-wrap: wrap;
}

.people-cards {
    padding: 20px;
}

.people-card {
    background-color: white;
    padding: 20px;
}

.pcard-title {
    color: #683AF2;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.pcard-text {
    color: grey;
}

.people-info {
    display: flex;
}

.pinfo {
    margin-left: 15px;
}

.pinfo-name {
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: 500;
}

.pinfo-country {
    margin-bottom: 0px;
    font-size: 12px;
    color: grey;
}

.effect-btn {
    color: #fff;
    border: 3px solid #f75d50;
    background-image: linear-gradient(30deg, #f75d50 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: background 500ms ease-in-out;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: unset;
}

.effect-btn:hover {
    background-position: 100%;
    color: #f75d50;
}
.service-subtitle {
    height: 60px;
}
.desc-item {
    color: white;
}
.desc-title {
    color: white;
    text-align: center;
    margin-top: 30px;
}
.desc-text {
    color: white;
}
.desc-bottom {
    text-align: right;
}